n8n/workflows/Primary.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "primary",
        "responseMode": "lastNode",
        "options": {
          "binaryData": "={{ true }}"
        }
      },
      "id": "306b3e46-37f7-4f10-bfc7-be175080fbba",
      "name": "Starting Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -288,
        448
      ],
      "webhookId": "primary"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nif (item.binary && item.binary.data) {\n  const orig = item.binary.data;\n  let mimeType = orig.mimeType;\n  if (!mimeType || mimeType === 'multipart/form-data') {\n    mimeType = 'application/pdf';\n  }\n  // Use the filename from the original upload if available\n  let actualFileName = orig.fileName || orig.name || item.json?.fileName || item.json?.filename;\n  if (!actualFileName && item.json && item.json.original_filename) {\n    actualFileName = item.json.original_filename;\n  }\n  item.binary.file = {\n    ...orig,\n    fileName: actualFileName,\n    mimeType\n  };\n  delete item.binary.data;\n}\nconst binary = item.binary.file;\nconst boundary = '----n8nBoundary' + Math.random().toString(16).slice(2);\nconst eol = '\\r\\n';\nconst fileName = binary.fileName;\nconst fileMimeType = binary.mimeType || 'application/pdf';\nconst fileBuffer = Buffer.from(binary.data, 'base64');\nlet body = Buffer.concat([\n  Buffer.from(`--${boundary}${eol}`),\n  Buffer.from(`Content-Disposition: form-data; name=\"file\"; filename=\"${fileName}\"${eol}`),\n  Buffer.from(`Content-Type: ${fileMimeType}${eol}${eol}`),\n  fileBuffer,\n  Buffer.from(`${eol}--${boundary}--${eol}`)\n]);\nreturn [{ json: { boundary, rawBody: body } }];"
      },
      "id": "b61f543e-30e0-4e2a-b3e2-55fa89f7f931",
      "name": "Prepare Upload Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        448
      ]
    },
    {
      "parameters": {
        "url": "http://imp-fastapi:8000/api/documents/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=multipart/form-data; boundary={{ $json.boundary }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "rawBody",
              "value": "={{ $json.rawBody }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e34c1bc0-6138-47a2-8745-0f87563f8350",
      "name": "Upload to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        448
      ]
    },
    {
      "parameters": {
        "url": "http://imp-fastapi:8000/api/documents/{{ $json.document_id }}",
        "options": {}
      },
      "id": "4acfcf78-9346-4b66-b2df-d71640411972",
      "name": "Get Document Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        384,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Enhanced classification logic\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Extract document information\n  const documentId = data.document_id;\n  const documentType = data.document_type || 'unknown';\n  const originalFilename = data.original_filename || '';\n  const qualityScore = data.quality_score || 0;\n  const confidence = data.confidence || 0;\n  \n  // Classify based on document type and characteristics\n  let classificationFactors = [];\n  let processingRequirements = [];\n  \n  // Document type analysis\n  if (documentType === 'pdf') {\n    classificationFactors.push('PDF document detected');\n    processingRequirements.push('OCR processing', 'Text extraction');\n  } else if (documentType === 'docx' || documentType === 'doc') {\n    classificationFactors.push('Word document detected');\n    processingRequirements.push('Direct text extraction', 'Format parsing');\n  } else if (documentType === 'image' || ['jpg', 'jpeg', 'png'].includes(documentType)) {\n    classificationFactors.push('Image document detected');\n    processingRequirements.push('OCR processing', 'Image enhancement');\n  }\n  \n  // Quality-based classification\n  if (qualityScore >= 0.8) {\n    classificationFactors.push('High quality document');\n    processingRequirements.push('Standard processing');\n  } else if (qualityScore >= 0.5) {\n    classificationFactors.push('Medium quality document');\n    processingRequirements.push('Enhanced processing', 'Quality improvement');\n  } else {\n    classificationFactors.push('Low quality document');\n    processingRequirements.push('Manual review', 'Quality enhancement');\n  }\n  \n  // Filename analysis for additional context\n  const filename = originalFilename.toLowerCase();\n  if (filename.includes('cv') || filename.includes('resume')) {\n    classificationFactors.push('Resume/CV document identified');\n    processingRequirements.push('Personal info extraction', 'Skills parsing');\n  } else if (filename.includes('application') || filename.includes('form')) {\n    classificationFactors.push('Application form identified');\n    processingRequirements.push('Form field extraction', 'Structured data parsing');\n  }\n  \n  // Determine sub-type based on classification\n  let subType = 'general';\n  if (filename.includes('cv') || filename.includes('resume')) {\n    subType = 'resume';\n  } else if (filename.includes('application')) {\n    subType = 'application_form';\n  } else if (filename.includes('certificate')) {\n    subType = 'certificate';\n  }\n  \n  processedItems.push({\n    json: {\n      document_id: documentId,\n      document_type: documentType,\n      sub_type: subType,\n      confidence: confidence,\n      classification_factors: classificationFactors,\n      processing_requirements: processingRequirements,\n      original_filename: originalFilename,\n      quality_score: qualityScore\n    }\n  });\n}\n\nreturn processedItems;"
      },
      "id": "4b18d70c-805f-4662-9449-8f7c71ac33e5",
      "name": "Classification Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://imp-fastapi:8000/api/classification/store",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "document_id",
              "value": "={{ $json.document_id }}"
            },
            {
              "name": "document_type",
              "value": "={{ $json.document_type }}"
            },
            {
              "name": "sub_type",
              "value": "={{ $json.sub_type }}"
            },
            {
              "name": "confidence",
              "value": "={{ $json.confidence }}"
            },
            {
              "name": "classification_factors",
              "value": "={{ $json.classification_factors }}"
            },
            {
              "name": "processing_requirements",
              "value": "={{ $json.processing_requirements }}"
            },
            {
              "name": "original_filename",
              "value": "={{$json.original_filename}}"
            },
            {
              "name": "quality_score",
              "value": "={{ $json.quality_score }}"
            }
          ]
        },
        "options": {}
      },
      "id": "88d61cd0-0827-404e-9b53-72f98426c3db",
      "name": "Store Classification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        832,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Enhanced file type classification with better detection\nconst items = $input.all();\nconst processedItems = [];\n\nfunction detectFormat(documentType, filename, mimetype) {\n  // Priority 1: Use backend classification if reliable\n  if (documentType && documentType !== 'unknown') {\n    return documentType;\n  }\n  \n  // Priority 2: MIME type analysis\n  if (mimetype) {\n    const mimeType = mimetype.toLowerCase();\n    if (mimeType.includes('pdf')) return 'pdf';\n    if (mimeType.includes('msword') || mimeType.includes('word')) return 'doc';\n    if (mimeType.includes('officedocument.wordprocessingml.document')) return 'docx';\n    if (mimeType.includes('image')) {\n      if (mimeType.includes('jpeg') || mimeType.includes('jpg')) return 'jpg';\n      if (mimeType.includes('png')) return 'png';\n      return 'image';\n    }\n  }\n  \n  // Priority 3: Filename extension\n  if (filename) {\n    const ext = filename.split('.').pop().toLowerCase();\n    const validExtensions = ['pdf', 'doc', 'docx', 'jpg', 'jpeg', 'png'];\n    if (validExtensions.includes(ext)) {\n      return ext === 'jpeg' ? 'jpg' : ext;\n    }\n  }\n  \n  return 'unknown';\n}\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const documentType = data.document_type;\n  const filename = data.original_filename || data.fileName || data.filename;\n  const mimetype = data.mimeType || data.mimetype;\n  \n  const format = detectFormat(documentType, filename, mimetype);\n  \n  // Add additional metadata for processing\n  const result = {\n    json: {\n      ...data, // Preserve all original data\n      format: format,\n      file_extension: filename ? filename.split('.').pop().toLowerCase() : null,\n      mime_type: mimetype,\n      classification_complete: true,\n      processing_ready: format !== 'unknown'\n    }\n  };\n  \n  processedItems.push(result);\n}\n\nreturn processedItems;"
      },
      "id": "49bf65e0-42bd-4cc0-b21d-a16c45b69b16",
      "name": "Classify File Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        448
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "48ac7aaf-9009-487d-85e9-165f5292cb5e",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1328,
        448
      ]
    },
    {
      "parameters": {
        "content": "## Upload the document with Python Script",
        "height": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        256
      ],
      "typeVersion": 1,
      "id": "cb9cf60e-0176-4870-80b9-3fc3fc2b01ae",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Data Preprocessing",
        "height": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        256
      ],
      "typeVersion": 1,
      "id": "d6d1db65-a796-4386-b762-ef9430fe5f77",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## FASTAPI",
        "height": 448,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        256
      ],
      "typeVersion": 1,
      "id": "daf3ad8b-06e4-44e4-aeef-b5b24aa1274b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Classification",
        "height": 448,
        "width": 704,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        256
      ],
      "typeVersion": 1,
      "id": "14275af2-34e7-47c8-b072-c5911dedbaba",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Switch",
        "height": 448,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        256
      ],
      "typeVersion": 1,
      "id": "8801abd3-76fd-436f-8a9d-165d204a470a",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Starting Webhook": {
      "main": [
        [
          {
            "node": "Prepare Upload Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Body": {
      "main": [
        [
          {
            "node": "Upload to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Backend": {
      "main": [
        [
          {
            "node": "Get Document Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document Data": {
      "main": [
        [
          {
            "node": "Classification Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classification Engine": {
      "main": [
        [
          {
            "node": "Store Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Classification": {
      "main": [
        [
          {
            "node": "Classify File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify File Type": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6a43a3bbd7a8cdc4527fdc9e7a353480fdc5f3249bab15191df3e3f7f430aed"
  }
}